@import url(./footer/style.css);
@import url(./nav/style.css);
@import url(./section/style.css);
@import url(./main/style.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


@font-face {
    font-family: "Bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "SamiBold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Regular";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

body {
    background: #1F2E35;
}

header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 145px;

        .header_left {
            display: flex;
            align-items: center;
            gap: 15px;

            h6 {
                color: #FFF;
                font-family: "Bold";
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
            }
        }

        .header_right {
            display: flex;
            align-items: center;
            gap: 25px;

            span {
                display: none;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 25px;
                list-style: none;

                a {
                    color: #FFF;
                    font-family: "Regular";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }

                .header_a {
                    font-weight: 600;
                }
            }

            button {
                padding: 11px 24px;
                border-radius: 4px;
                color: #FFF;
                border: none;
                font-family: "SamiBold";
                font-size: 16px;
                font-weight: 600;
                background: #02897A;

                cursor: pointer;
            }

            button:nth-child(even) {
                background: transparent;
                border: 1px solid #BCD0E5;
                padding: 10px 24px;
            }
        }
    }
}




@media (min-width: 990px) and (max-width: 1200px) {
    header {
        .container {
            .header_right {
                button {
                    display: none;
                }

                img {
                    display: none;
                }

                span {
                    display: block;
                    color: #FFF;
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 989px) {
    header {
        .container {
            padding: 25px 100px;

            .header_right {
                button {
                    display: none;
                }

                img {
                    display: none;
                }

                span {
                    display: block;
                    color: #FFF;
                    font-size: 25px;
                }
            }
        }
    }

    
}

@media (min-width: 448px) and (max-width: 768px) {
    header {
        .container {
            padding: 25px 50px;

            .header_left {
                img {
                    width: 30px;
                }

                h6 {
                    font-size: 22px;
                }
            }

            .header_right {
                a {
                    display: none;
                }

                button {
                    display: none;
                }

                img {
                    display: none;
                }

                span {
                    display: block;
                    color: #FFF;
                    font-size: 25px;
                }
            }
        }
    }

    
}

@media (max-width: 447px) {
    header {
        .container {
            padding: 25px 30px;

            .header_left {
                gap: 0;
                img {
                    width: 30px;
                }

                h6 {
                    font-size: 22px;
                }
            }

            .header_right {
                gap: 0;
                a {
                    display: none;
                }

                button {
                    display: none;
                }

                img {
                    display: none;
                }

                span {
                    display: block;
                    color: #FFF;
                    font-size: 25px;
                }
            }
        }
    }

    
}
